.content {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.text {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  font-weight: normal;
  font-size: 30px;
}

.enroll {
  font-size: 22px;
}

img {
  max-width: 100%;
}
